$purple: #86697c;
$pink: #fa7c91;
$brown: #757763;
$beige: #94938b;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: 'monospace',
  $body-background-color: $beige-lighter,
  $box-background-color: white,
  $navbar-background-color: white,
  $button-active-color: $brown,
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $beige,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none,
  $title-color: $brown,
  $box-radius: 0.5rem,
  $box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
);