$purple: #86697c;
$pink: #fa7c91;
$brown: #757763;
$beige: #94938b;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $body-background-color: $beige-lighter,
  $box-background-color: white,
  $navbar-background-color: white,
  $button-active-color: $brown,
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $beige,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none,
  $title-color: $brown
);

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: $beige;
}