@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

body {
  background-color: $code-background;
  font-family: $family-monospace;
}

.home-icon-desktop {
  /* This mimics the horizontal padding of a bulma .column to align the icon */
  padding: 0 0.75rem;
}

