// Light mode color palette
$purple: #86697c;
$pink: hwb(350 49% 2%);
$brown: #757763;
$beige: #94938b;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Dark mode color palette
$purple-dark: #a68898;
$pink-dark: #ff94a8;
$brown-dark: #b8b89d;
$beige-dark: #b5b4a9;
$beige-light-dark: #8a8a7e;
$beige-lighter-dark: #1f1f1f;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: 'DM Sans',
  $body-background-color: transparent,
  $button-active-color: $brown,
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $pink-dark,
  $link: $pink-dark,
  $warning: $purple-dark,
  $control-border-width: 2px,
  $input-shadow: none,
  $title-color: $brown,
  $box-radius: 0rem,
  $box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
  $title-weight: 400,
);

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// ============================================================================
// LIGHT MODE STYLES
// ============================================================================

html {
    background-color: $beige-lighter;
}

body {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/diagonal-lines.svg');
        opacity: 0.2;
        z-index: -1;
    }
}

.is-hidden-touch aside.menu {
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0rem;
    background-color: hsl(var(--bulma-menu-background-h, 53), var(--bulma-menu-background-s, 0%), var(--bulma-menu-background-l, 100%));
    padding: 1rem;
}

aside.menu ul.menu-list li a::first-letter {
    text-transform: uppercase;
}

.is-hidden-touch aside.menu ul.menu-list li a.is-active {
    font-weight: 600;
}

.navbar {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.bookmark-title-container + .tags {
    margin-top: 1rem;
}

.home-container {
    display: flex;
    flex-direction: column;
}

.main-note-box {
    order: 2;
}

.recent-notes-box {
    order: 1;
}

@media screen and (min-width: 769px) {
    .main-note-box {
        order: 1;
    }

    .recent-notes-box {
        order: 2;
    }
}

// ============================================================================
// DARK MODE STYLES
// ============================================================================

// Mixin for dark mode CSS variables
@mixin dark-mode-variables {
  // Bulma dark mode base colors
  --bulma-scheme-h: 221;
  --bulma-scheme-s: 14%;
  --bulma-light-l: 90%;
  --bulma-light-invert-l: 20%;
  --bulma-dark-l: 20%;
  --bulma-dark-invert-l: 90%;
  --bulma-soft-l: 20%;
  --bulma-bold-l: 90%;
  --bulma-soft-invert-l: 90%;
  --bulma-bold-invert-l: 20%;
  --bulma-hover-background-l-delta: 15%;
  --bulma-active-background-l-delta: 20%;
  --bulma-hover-border-l-delta: 10%;
  --bulma-active-border-l-delta: 20%;
  --bulma-hover-color-l-delta: 5%;
  --bulma-active-color-l-delta: 10%;
  --bulma-shadow-h: 221;
  --bulma-shadow-s: 14%;
  --bulma-shadow-l: 20%;

  // Custom brand colors for dark mode (HSL)
  --bulma-primary-h: 350;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 79%;
  --bulma-link-h: 350;
  --bulma-link-s: 100%;
  --bulma-link-l: 79%;;
  --bulma-title-color-h: 0;
  --bulma-title-color-s: 0%;
  --bulma-title-color-l: 100%;

  // Scheme colors
  --bulma-scheme-main-l: 5%;
  --bulma-scheme-main-bis-l: 5%;
  --bulma-scheme-main-ter-l: 5%;
  --bulma-background-l: 20%;
  --bulma-border-l: 24%;
  --bulma-border-hover-l: 29%;
  --bulma-text-l: 100%;
  --bulma-text-strong-l: 100%;
  --bulma-scheme-invert-l: 100%;

  // Component backgrounds
  --bulma-box-background-l: 15%;
  --bulma-menu-background-h: 53;
  --bulma-menu-background-s: 4%;
  --bulma-menu-background-l: 15%;
  --bulma-navbar-background-l: 15%;
}

// Mixin for all dark mode styles
@mixin dark-mode-styles {
  @include dark-mode-variables;

  html {
    background-color: $beige-lighter-dark;
  }

  body {
    background-color: $beige-lighter-dark;

    &::before {
      display: none;
    }
  }

  .is-hidden-touch aside.menu {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }

  .navbar {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }

  .bookmark-title-container img {
    filter: grayscale(100%) brightness(1.2);
  }

  .has-text-dark {
    color: hsl(0, 0%, 100%) !important;
  }

  .has-text-grey {
    color: hsl(0, 0%, 71%) !important;
  }

  .title {
    color: hsl(0, 0%, 71%) !important;
  }
}

// Apply dark mode when explicitly set
[data-theme="dark"] {
  @include dark-mode-styles;
}

// Apply dark mode based on system preference (unless light mode is explicitly set)
@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    @include dark-mode-styles;
  }
}
