<div class="columns">
    <div class="column">
        <p>This site is a collection of articles and links to articles found on hckrnews. Since i work as a web developer with some hobby interest in hardware (raspberry pi, arduino) most is related to these subjects. you can contact me at boudewijn@hello-data.nl</p>
    </div>
</div>