<div class="columns">
    <div class="column">
        {{> tags}}
    </div>
    <div class="column">
{{#if (isBookmarksFolder folder)}}
    {{> bookmarks}}
{{else}}
    {{> notes}}
{{/if}}
    </div>
</div>