<div class="columns">
    <div class="column is-one-quarter">
        {{> tags}}
    </div>
    <div class="column">
{{#if (isBookmarksFolder folder)}}
    {{> bookmarks}}
{{else}}
    {{> articles}}
{{/if}}
    </div>
</div>