<div class="box">
<form action="/search" method="GET" class="mb-4">
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" type="search" name="q" placeholder="Search..." value="{{query}}">
    </div>
    <div class="control">
      <button type="submit" class="button has-background-link has-text-white-bis">
        Search
      </button>
    </div>
  </div>
</form>
</div>

{{#if hasResults}}
    {{#each notes}}
        <div class="box">
            {{> bookmark this}}
        </div>
    {{/each}}
{{else}}
    {{#if query}}
        <p>No results found.</p>
    {{/if}}
{{/if}}
